<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./index.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Satsang Diksha</h2>
        <h4>Receive a shlok every day</h4>

        
        <div class="form-container">
            <p>Fill out the form to receive a shlok every day!</p>
            <p class="form-feedback"></p>
            <form id="form">
                <div>
                    <label>Phone Number:</label>
                    <input placeholder="Enter Phone # "/>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <script>
        var form = document.querySelector("#form");
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            
            const formInput = document.querySelector('input');
            const feedback = document.querySelector('.form-feedback');
            const number = Number(formInput.value);
            const regex = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;

            if (regex.test(number)) {
                feedback.setAttribute('class', 'form-feedback success');
                feedback.innerHTML = `Thank You! </br> Number recorded: ${document.querySelector('input').value}`;
                fetch(`http://localhost:8000/api/phonenumber/${number}`, {method: 'POST'}).then(res => res.json()).then(data => console.log(data));
            } else {
                feedback.setAttribute('class', 'form-feedback error');
                feedback.innerHTML = 'Please fill in the fields correctly!'
            }
        })

    </script>
</body>
</html>